<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="module notifications" data-module-id="{moduleId}" data-module-name="{moduleName}">
    <f:if condition="{docHeader.enabled}">
        <f:render partial="DocHeader" arguments="{docHeader:docHeader}"/>
    </f:if>

    <div class="module-body t3js-module-body">

        <f:if condition="{uiBlock}">
            <div id="t3js-ui-block" class="ui-block">
                <core:icon identifier="spinner-circle-light" size="large"/>
            </div>
        </f:if>
        <f:flashMessages queueIdentifier="core.template.flashMessages"/>

        <div style="margin-bottom:24px">
            <f:render section="headline"/>
        </div>
        <f:render section="content"/>

    </div>
</div>
</html>
