<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:nf="http://typo3.org/ns/TRAW/NotificationsFramework/ViewHelpers"
      data-namespace-typo3-fluid="true">
<table class="table">
    <tr>
        <th>
            <f:translate
                key="LLL:EXT:notifications_framework/Resources/Private/Language/locallang_tca.xlf:configuration.autotranslate"/>
        </th>
        <td>
            <f:if condition="{configuration.autotranslate}">
                <core:icon identifier="actions-check" size="small"/>
            </f:if>
        </td>
    </tr>
    <f:if condition="{configuration.translations}">
        <f:then>
            <f:for as="translation" each="{configuration.translations}">
                <tr>
                    <td colspan="2">
                        <details>
                            <summary><core:icon identifier="{translation.language.flag}" size="small"/> {translation.language.title} <code>[{translation.language.id}]</code></summary>

                            <f:render partial="Configuration/Data" arguments="{configuration: translation}" />
                        </details>
                    </td>
                </tr>
            </f:for>
        </f:then>
        <f:else>
            <tr>
                <td colspan="2" class="info">No translations.</td>
            </tr>
        </f:else>
    </f:if>
</table>
</html>
