<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Backend/Default"/>
<f:section name="headline">
    <h1>
        <f:translate
            key="LLL:EXT:notifications_framework/Resources/Private/Language/Modules/locallang_widgets_mod.xlf:module.index.title"/>
    </h1>
</f:section>
<f:section name="content">
    <f:debug inline="true">{_all}</f:debug>
</f:section>
</html>
