<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:section name="FieldNameSort">
    <f:if condition="{disableSort}">
        <f:then>{label}</f:then>
        <f:else>

                <span class="{f:if(condition: '{demand.sortField} == {field}', else:'hidden')}">
                <a href="{f:be.uri(route: 'notifications_configurations.detail', parameters:'{configuration:configuration.uid,id:demand.pid}')}" title="{f:translate(key: 'sortField',extensionName: 'NotificationsFramework')} {label}"
                               class="{f:if(condition:'{demand.sortDirection} == \'asc\'', then:'hidden')}"

                               arguments="{demand:{sortField:demand.sortField,sortDirection:'asc', page:demand.page}}">
                     {label}
                    <core:icon identifier="actions-sort-amount-down"/>
                </a>
                <a href="{f:be.uri(route: 'notifications_configurations.detail', parameters:'{configuration:configuration.uid,id:demand.pid}')}" title="{f:translate(key: 'sortField',extensionName: 'NotificationsFramework')} {label}"
                               class="{f:if(condition:'{demand.sortDirection} == \'desc\'', then:'hidden')}"

                               arguments="{demand:{sortField:demand.sortField,sortDirection:'desc', page:demand.page}}">
                     {label}
                    <core:icon identifier="actions-sort-amount-up"/>
                </a>
            </span>
                <span class="{f:if(condition: '{demand.sortField} == {field}', then:'hidden')}">
                <a href="{f:be.uri(route: 'notifications_configurations.detail', parameters:'{configuration:configuration.uid,id:demand.pid}')}" title="{f:translate(key: 'sortField',extensionName: 'NotificationsFramework')} {label}"

                               arguments="{demand:{sortField:field,sortDirection:'{f:if(condition: \'{defaultSort}\',then:defaultSort,else:\'asc\')}', page:demand.page}}">
                     {label}
                    <core:icon identifier="actions-sort-amount"/>
                </a>
            </span>

        </f:else>
    </f:if>
</f:section>
</html>
