<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:section name="Form">
    <form method="post" class="row row-cols-auto align-items-start  ms-2 mb-2 mt-1">
        <div class="col align-self-end">
            <core:icon identifier="actions-filter" size="medium"/>
        </div>

        <f:for as="filter" each="{filters}" key="key">
            <div class="col ">
                <label class="form-label">
                    <f:translate
                        key="LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:filter.{key}.label"/>
                </label>
                <select name="filter[{key}]" class="form-select" onchange="javascript:this.form.submit()">
                    <f:for as="item" each="{filter}">
                        <option value="{item}" {f:if(condition:'{demand.filter.{key}}=={item}',then:'selected')}>
                        <f:translate
                            key="LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:filter.{key}.{item}">
                            {item}
                        </f:translate>
                        </option>
                    </f:for>
                </select>
            </div>
        </f:for>

        <div class="col align-self-end">
            <f:render section="Reset" arguments="{_all}" />
        </div>
    </form>
</f:section>
<f:section name="Reset">
    <f:be.link
        route="{module.identifier}"
        parameters="{id:selectedPageUID,sortField:'',sortDirection:'',filter:'',perPage:10}"
        class="btn btn-link"
    >
        <core:icon identifier="actions-undo" size="small"/>
        <f:translate
            key="LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:filter.reset"/>
    </f:be.link>
</f:section>
</html>
