<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Backend/Default"/>
<f:section name="headline">
    <h1>
        <f:translate
            key="LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:module.settings.title"/>
    </h1>
</f:section>
<f:section name="content">
    <div class="infolist-container">
        <div class="infolist">
            <div class="infolist-content">
                <div class="table-fit mb-0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th>
                                <f:translate
                                    key="LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:th.settings"/>
                                <br>
                                <i>
                                    <f:translate
                                        key="LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:th.settings.desc"/>
                                </i>
                            </th>
                            <th>
                                <f:translate
                                    key="LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:th.computed"/>
                                <br>
                                <i>
                                    <f:translate
                                        key="LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:th.computed.desc"/>
                                </i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>
                                <a href="#" onclick="return false"
                                   title="{f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:settings.allowedTables')}">
                                    {f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:settings.allowedTables')
                                    -> f:format.crop(maxCharacters: '40')}
                                </a>
                                <br>
                                <code>allowedTables</code>
                            </th>
                            <td><code>
                                <f:if condition="{settings.allowedTables}">
                                    <f:then>{settings.allowedTables}</f:then>
                                    <f:else><i>(empty)</i></f:else>
                                </f:if>
                            </code></td>
                            <td>
                                <f:for as="table" each="{allowedTables}" key="key">
                                    <span data-type="{key}">
                                        <f:if condition="{table.icon}">
                                            <f:then>
                                                <core:icon identifier="{table.icon}" size="small"/>
                                            </f:then>
                                            <f:else if="{table.iconfile}">
                                                <f:image src="{table.iconfile}" width="16"/>
                                            </f:else>
                                        </f:if>
                                        {table.title}
                                    </span><br>
                                </f:for>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <a href="#" onclick="return false"
                                   title="{f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:settings.autoCreateNotifications')}">
                                    {f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:settings.autoCreateNotifications')
                                    -> f:format.crop(maxCharacters: '40')}
                                </a>
                                <br>
                                <code>autoCreateNotifications</code>
                            </th>
                            <td><code>{settings.autoCreateNotifications}</code></td>
                            <td>
                                <core:icon
                                    identifier="{f:if(condition:settings.sendToEveryoneIfNoAudienceIsSelected,then:'actions-check-square',else:'actions-square')}"></core:icon>
                                <f:if condition="{settings.sendToEveryoneIfNoAudienceIsSelected,}">
                                    <f:then>
                                        <f:translate
                                            key="LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:enabled"/>
                                    </f:then>
                                    <f:else>
                                        <f:translate
                                            key="LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:disabled"/>
                                    </f:else>
                                </f:if>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <a href="#" onclick="return false"
                                   title="{f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:settings.sendToEveryoneIfNoAudienceIsSelected')}">
                                    {f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:settings.sendToEveryoneIfNoAudienceIsSelected')
                                    -> f:format.crop(maxCharacters: '40')}
                                </a>
                                <br>
                                <code>sendToEveryoneIfNoAudienceIsSelected</code>
                            </th>
                            <td><code>{settings.sendToEveryoneIfNoAudienceIsSelected}</code></td>
                            <td>
                                <core:icon
                                    identifier="{f:if(condition:settings.sendToEveryoneIfNoAudienceIsSelected,then:'actions-check-square',else:'actions-square')}"></core:icon>
                                <f:if condition="{settings.sendToEveryoneIfNoAudienceIsSelected,}">
                                    <f:then>
                                        <f:translate
                                            key="LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:enabled"/>
                                    </f:then>
                                    <f:else>
                                        <f:translate
                                            key="LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:disabled"/>
                                    </f:else>
                                </f:if>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <a href="#" onclick="return false"
                                   title="{f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:settings.feUserLookupUids')}">
                                    {f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:settings.feUserLookupUids')
                                    -> f:format.crop(maxCharacters: '40')}
                                </a>
                                <br>
                                <code>feUserLookupUids</code>
                            </th>
                            <td><code>{settings.feUserLookupUids}</code></td>
                            <td rowspan="2">
                                <f:render section="PageTree" arguments="{pages:feUserLookupUids}"/>
                                <strong><i>
                                    <f:translate
                                        key="LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:hint.lookup"/>
                                </i></strong>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <a href="#" onclick="return false"
                                   title="{f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:settings.feUserLookupRecursive')}">
                                    {f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:settings.feUserLookupRecursive')
                                    -> f:format.crop(maxCharacters: '40')}
                                </a>
                                <br>
                                <code>feUserLookupRecursive</code></th>
                            <td><code>{settings.feUserLookupRecursive}</code></td>
                        </tr>
                        <tr>
                            <th>
                                <a href="#" onclick="return false"
                                   title="{f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:settings.storeNotificationsOnRecordPid')}">
                                    {f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:settings.storeNotificationsOnRecordPid')
                                    -> f:format.crop(maxCharacters: '40')}
                                </a>
                                <br>
                                <code>storeNotificationsOnRecordPid</code>
                            </th>
                            <td><code>{settings.storeNotificationsOnRecordPid}</code></td>
                            <td>
                                <core:icon
                                    identifier="{f:if(condition:settings.storeNotificationsOnRecordPid,then:'actions-check-square',else:'actions-square')}"></core:icon>
                                <f:if condition="{settings.storeNotificationsOnRecordPid}">
                                    <f:then>
                                        <f:translate
                                            key="LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:enabled"/>
                                    </f:then>
                                    <f:else>
                                        <f:translate
                                            key="LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:disabled"/>
                                    </f:else>
                                </f:if>
                            </td>
                        </tr>
                        <f:if condition="{settings.storeNotificationsOnRecordPid}">
                            <f:then>
                                <tr>
                                    <td colspan="3"><i>{f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:hint.storeNotificationOnRecordsPid.enabled')
                                        -> f:format.raw()}</i></td>
                                </tr>
                            </f:then>
                            <f:else>
                                <tr>
                                    <td colspan="3"><i>{f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:hint.storeNotificationOnRecordsPid.disabled')
                                        -> f:format.raw()}</i></td>
                                </tr>
                                <tr>
                                    <th>
                                        <a href="#" onclick="return false"
                                           title="{f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:settings.notificationStorage')}">
                                            {f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:settings.notificationStorage')
                                            -> f:format.crop(maxCharacters: '40')}
                                        </a>
                                        <br>
                                        <code>notificationStorage</code>
                                    </th>
                                    <td><code>{settings.notificationStorage}</code></td>
                                    <td rowspan="2">
                                        <f:render section="PageTree" arguments="{pages:notificationStorage}"/>
                                        <strong><i>
                                            <f:translate
                                                key="LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:hint.lookup"/>
                                        </i></strong>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <a href="#" onclick="return false"
                                           title="{f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:settings.notificationStorageRecursive')}">
                                            {f:translate(key:'LLL:EXT:notifications_framework/Resources/Private/Language/locallang_backend.xlf:settings.notificationStorageRecursive')
                                            -> f:format.crop(maxCharacters: '40')}
                                        </a>
                                        <br>
                                        <code>notificationStorageRecursive</code>
                                    </th>
                                    <td><code>{settings.notificationStorageRecursive}</code></td>
                                </tr>
                            </f:else>
                        </f:if>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</f:section>
<f:section name="PageTree">
    <ul>
        <f:for each="{pages}" as="page">
            <li>
                <core:icon identifier="{page.icon}" overlay="{page.iconOverlay}"/>

                <f:if condition="{page.inSettings}">
                    <strong>
                </f:if>

                [{page.uid}] {page.title}

                <f:if condition="{page.inSettings}">
                    <f:then></strong> <i>(from settings)</i></f:then>
                    <f:else><i>(from recursive lookup)</i></f:else>
                </f:if>

                <f:if condition="{page.children}">
                    <f:render section="PageTree" arguments="{pages: page.children}"/>
                </f:if>
            </li>
        </f:for>
    </ul>
</f:section>
</html>
