<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<form method="post">
    <div class="row row-cols-auto align-items-start align-items-center" >
        <div class="col">
            <core:icon identifier="actions-filter" size="medium"/>
            Filters:
        </div>
        <div class="col">
            <div class="form-group">
                <label class="form-label">Type</label>
                <select name="filter[type]" class="form-select" onchange="javascript:this.form.submit()">
                    <option value="">Show all</option>
                    <f:for as="item" each="{filters.type}">
                        <option value="{item.value}" {f:if(condition:'{demand.filter.type}=={item.value}',then:'selected')}>
                        {item}
                        </option>
                    </f:for>
                </select>
            </div>
        </div>

        <div class="col">
            <a class="btn btn-default" href="{f:be.uri(route: module.identifier, parameters: '{id:selectedPageUID,sortField:\'\',sortDirection:\'\',filter:\'\'}')}">
                <core:icon identifier="actions-undo" size="small"/> Reset filters
            </a>
        </div>
    </div>
</form>
</html>
