<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module"/>
<f:section name="Headline">
    <h1><f:translate key="{module.title}">{module.title}</f:translate></h1>
</f:section>
<f:section name="Content">
    <f:render section="Headline" arguments="{_all}"/>
    <h3>Numbers by storage pid</h3>
    <h5>Configurations</h5>
    <f:render partial="Index/Pids" arguments="{pids:configurationPids}" />

    <h5>Notifications</h5>
    <f:render partial="Index/Pids" arguments="{pids:notificationPids}" />

    <h5>References</h5>
    <f:render partial="Index/Pids" arguments="{pids:referencePids}" />

    <h3>Numbers by type</h3>
    <h5>Configurations</h5>
    <f:render partial="Index/Types" arguments="{types:configurationTypes}" />

    <h5>Notifications</h5>
    <f:render partial="Index/Types" arguments="{types:notificationTypes}" />
</f:section>
</html>
